# ==========================================
# Food Vision - Dependencies
# ==========================================

streamlit
ultralytics
opencv-python-headless
numpy
pillow
groq
python-dotenv
matplotlib
pandas
